/* Header Styling */

@keyframes hover-link
{
    from {
        background-color: black;
        color: #f0faf5;}
    to {background-color: #00CE7D;
        color: black;}
}

h1
{
    color: #f0faf5;
    background-color: black;
    margin: 0px;
    padding: 1rem 0;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

header a
{
    color: #f0faf5;
    background-color: black;
    border: 0.2rem solid #3b403d;
    border-left: 0px;
    border-bottom: 0px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 1rem 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
}

header a:hover
{
    animation-name: hover-link;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Body Styling */

body
{
    margin: 0;
    width: 100%;
    /* position: fixed; */
    padding: 0rem;
    background-color: #f0faf5;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    /* background-attachment: scroll, fixed, scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

a
{
    text-decoration: none;
}

h2
{
    font-family: 'Prompt', sans-serif;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
}

#moving-background
{
    position: sticky;
    top: 0;
    display: none;
    z-index: -5;
}

/* main header */
#main-header
{
    align-self: center;
    text-align: center;
    font-size: 2rem;
    
}

/* project 1 styling */
#fun-project-1
{
    margin: 0px;
}

#fun-project-1 img
{
    max-height: 80%;
    margin: 2rem;
    border: 0.2rem solid black;
}

.project-header
{
    align-self: center;
    text-align: center;
    justify-self: center;
    text-decoration: underline;
}

#fun-project-1 p
{
    align-self: center;
    text-align: left;
    justify-self: center;
    font-size: 1.7rem;
    background-color: #00CE7D;
    margin: 2rem;
    padding: 1.5rem;
    border: 0.2rem solid black;
}

/* project 2 styling */
#fun-project-2
{
    margin: 0px;
}

#fun-project-2 img
{
    max-height: 80%;
    margin: 2rem;
    border: 0.2rem solid black;
}

#fun-project-2 p
{
    align-self: center;
    text-align: left;
    justify-self: center;
    font-size: 1.7rem;
    background-color: #00CE7D;
    padding: 1.5rem;
    margin: 2rem;
    border: 0.2rem solid black;
}

/* project 3 styling */
#fun-project-3
{
    margin: 0px;
}

#fun-project-3 img
{
    max-height: 50%;
    margin: 2rem;
    justify-self: center;
    align-self: center;
    border: 0.2rem solid black;
}

#fun-project-3 p
{
    align-self: center;
    text-align: left;
    justify-self: center;
    font-size: 1.7rem;
    background-color: #00CE7D;
    padding: 1.5rem;
    margin: 2rem;
    border: 0.2rem solid black;
}

#fun-project-3 p a
{
    color: #f0faf5;
}

#fun-project-3 p a:hover
{
    color: black;
}

#fun-project-3 p a:active
{
    color: #f0faf5;
}

/* Footer styling */

footer
{
    background-color: black;
    color: #f0faf5;
    border-top: 0.2rem solid #3b403d;
}

footer h2
{
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
}

footer i
{
    color: #00CE7D;
    font-size: 2rem;
}

footer a
{
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
    margin: 1rem;
    text-decoration: none;
    color: #00CE7D;
}

footer a:hover
{
    text-decoration: none;
    color: #f0faf5;
}

/* Grid Styling - Main Page */

#wrapper
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header"
                         "main-header"
                         "project1"
                         "project2"
                         "project3"
                         "footer";
    grid-template-rows: 1fr 2fr 5fr 5fr 3fr;
    grid-template-columns: 1fr;
}
header
{
    grid-area: header;
}
#main-header
{
    grid-area: main-header;
}
#about
{
    grid-area: about;
}
#fun-project-1
{
    grid-area: project1;
}
#fun-project-2
{
    grid-area: project2;
}
#fun-project-3
{
    grid-area: project3;
}
footer
{
    grid-area: footer;
}

/* Grid Styling - Projects */
#fun-project-1
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "project1-header project1-header"
                         "website-image1 project1-description"
                         "website-image2 project1-description";
    grid-template-rows: 10% 45% 45% auto;
    grid-template-columns: 0.5fr 0.95fr;
}
#website-image-1
{
    grid-area: website-image1;
}
#website-image-2
{
    grid-area: website-image2;
}
#fun-project-1 h2
{
    grid-area: project1-header;
}
#fun-project-1 p
{
    grid-area: project1-description;
}

#fun-project-2
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "project2-header project2-header"
                         "project2-description bone-img-1"
                         "project2-description bone-img-2";
    grid-template-rows: 10% 45% 45% auto;
    grid-template-columns: 0.8fr 0.5fr;
}
#bone-1
{
    grid-area: bone-img-1;
}
#bone-2
{
    grid-area: bone-img-2;
}
#fun-project-2 h2
{
    grid-area: project2-header;
}
#fun-project-2 p
{
    grid-area: project2-description;
}

#fun-project-3
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "project3-header project3-header"
                         "britney-img project3-description";
    grid-template-rows: 10% 90% auto;
    grid-template-columns: 0.5fr 1.0fr;
}
#toxic-mod-img
{
    grid-area: britney-img;
}
#fun-project-3 h2
{
    grid-area: project3-header;
}
#fun-project-3 p
{
    grid-area: project3-description;
}

/* Grid Styling - Header */

header
{
    display: grid;
    width: 100vw;
    height: 20vh;
    grid-template-areas: "header-h1 header-h1 header-h1 header-h1"
                         "about projects contact fun";
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
}
header h1
{
    grid-area: header-h1;
}
#about-link
{
    grid-area: about;
}
#projects-link
{
    grid-area: projects;
}
#contact-link
{
    grid-area: contact;
}
#fun-link
{
    grid-area: fun;
}




/* -------- Responsive grid styling -------- */

@media screen and (min-width : 320px) and (max-width : 1350px) 
{
    /* header and footer */
    header
    {
        width: 100%;
    }

    #main-header
    {
        display: none;
    }

    /* re-style project grids */
    #fun-project-1
    {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: "project1-header"
                             "website-image1"
                             "website-image2"
                             "project1-description";
        grid-template-rows: 10% 30% 30% 30% auto;
        grid-template-columns: 1fr;
    }

    #fun-project-1 img
    {
        max-height: 90%;
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }

    #fun-project-1 p
    {
        font-size: 20px;
        width: 80%;
        max-width: 100%;
        max-height: 70%;
    }

    #fun-project-2
    {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: "project2-header"
                            "bone-img-1"
                            "bone-img-2"
                            "project2-description";
        grid-template-rows: 10% 30% 30% 30%auto;
        grid-template-columns: 1fr;
    }

    #fun-project-2 img
    {
        max-height: 90%;
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }

    #fun-project-2 p
    {
        font-size: 20px;
        width: 80%;
        max-width: 100%;
        max-height: 70%;
    }

    #fun-project-3
    {
        align-self: center;
        justify-self: center;
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: "project3-header"
                            "britney-img"
                            "project3-description";
        grid-template-rows: 10% 30% 70% auto;
        grid-template-columns: 1fr;
    }

    #fun-project-3 p
    {
        font-size: 20px;
        margin: 1rem;
        max-width: 100%;
    }

    #fun-project-3 img
    {
        max-height: 100%;
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width : 320px) and (max-width : 375px) 
{
    #fun-project-1 p
    {
        font-size: 15px;
    }

    #fun-project-2 p
    {
        font-size: 15px;
    }

    #fun-project-3 p
    {
        font-size: 15px;
    }
}