/* Header Styling */

@keyframes hover-link
{
    from {
        background-color: black;
        color: #f0faf5;}
    to {background-color: #00CE7D;
        color: black;}
}

h1
{
    color: #f0faf5;
    background-color: black;
    margin: 0px;
    padding: 1rem 0;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

header a
{
    color: #f0faf5;
    background-color: black;
    border: 0.2rem solid #3b403d;
    border-left: 0px;
    border-bottom: 0px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 1rem 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
}

header a:hover
{
    animation-name: hover-link;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



/*Project Preview Styling */

#projects-header
{
    margin: 2rem;
    align-self: center;
    text-align: center;
}

@keyframes reveal-thumb
{
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes grow-thumb
{
    from {transform: scale(1.0);}
    to {transform: scale(1.25);}
}

#project-previews
{
    padding: 1rem;
    margin: 2rem;
}

.project-preview
{
    border: 0.2rem solid black;
    background-color: #00CE7D;
    padding: 0px;
    margin: 0px;
    /* max-width: 100%; */
    position: relative;
    white-space: pre-wrap;
}

.project-preview:hover
{
    animation-name: grow-thumb;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.project-preview img
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* max-height: 100%; */
}

.preview-title
{
    width: 80%;
    color: black;
    background-color: #00CE7D;
    box-sizing: border-box;
    border: 0.2rem solid black;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.revealed-thumb
{
    z-index: -1;
}

.shadowed-thumb:hover
{
    cursor: pointer;
    animation-name: reveal-thumb;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Body Styling */

body
{
    margin: 0rem;
    padding: 0rem;
    background-color: #f0faf5;
    /* background-image: linear-gradient(to bottom, #f0faf5, #00ce7d); */
    background-image: url("images/body_bg_3.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: inherit;

    /* background-attachment: scroll, fixed, scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

a
{
    text-decoration: none;
}

h2
{
    font-family: 'Prompt', sans-serif;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
}

#moving-background
{
    position: sticky;
    top: 0;
    display: none;
    z-index: -5;
}

/* Footer styling */

footer
{
    background-color: black;
    color: #f0faf5;
    border-top: 0.2rem solid #3b403d;
}

footer h2
{
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
}

footer i
{
    color: #00CE7D;
    font-size: 2rem;
}

footer a
{
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
    margin: 1rem;
    text-decoration: none;
    color: #00CE7D;
}

footer a:hover
{
    text-decoration: none;
    color: #f0faf5;
}

/* About section Styling */
#about-contents img
{
    max-height: 75%;
    max-width: 75%;
    border: 0.2rem solid black;
}

#about-contents p
{
    font-size: 1.5rem;
}

#about h2
{
    align-self: center;
    text-align: center;
}

#about-contents
{
    display: grid;
    width: 80vw;
    height: 50vh;
    grid-template-areas: ". . about-img about-text .";
    grid-template-rows: 10fr;
    grid-template-columns: 10% 10% 23% 46% 10%;
}
#about img
{
    grid-area: about-img;
}
#about-contents p
{
    grid-area: about-text;
}

/* Grid Styling - Main Page */

#wrapper
{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header header header"
                         "about about about"
                         ". projects ."
                         "footer footer footer";
    grid-template-rows: 1fr 2fr 5fr 3fr;
    grid-template-columns: 1fr 3fr 1fr;
}
header
{
    grid-area: header;
}
#about
{
    grid-area: about;
}
#project-previews
{
    grid-area: projects;
}
footer
{
    grid-area: footer;
}

/* Grid Styling - Header */

header
{
    display: grid;
    width: 100vw;
    height: 15vh;
    grid-template-areas: "header-h1 header-h1 header-h1 header-h1"
                         "about projects contact fun";
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
}
header h1
{
    grid-area: header-h1;
}
#about-link
{
    grid-area: about;
}
#projects-link
{
    grid-area: projects;
}
#contact-link
{
    grid-area: contact;
}
#fun-link
{
    grid-area: fun;
}


/* Grid Styling - Project Previews*/
#project-previews
{
    display: grid;
    width: 80vw;
    height: 100vh;
    grid-template-areas: "projects-header projects-header projects-header projects-header projects-header"
                         "project1 . project2 . project3"
                         "project1-title . project2-title . project3-title"
                         ". . . . ."
                         "project4 . project5 . project6"
                         "project4-title . project5-title . project6-title";
    grid-template-rows: 10% 20% 20% 10% 20% 20%;
    grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
}
#projects-header
{
    grid-area: projects-header;
}
#vr-preview
{
    grid-area: project1;
}
#second-preview
{
    grid-area: project3;
}
#third-preview
{
    grid-area: project6;
}
#fourth-preview
{
    grid-area: project4;
}
#fifth-preview
{
    grid-area: project2;
}
#sixth-preview
{
    grid-area: project5;
}
#project1-title
{
    grid-area: project1-title;
}
#project2-title
{
    grid-area: project3-title;
}
#project3-title
{
    grid-area: project6-title;
}
#project4-title
{
    grid-area: project4-title;
}
#project5-title
{
    grid-area: project2-title;
}
#project6-title
{
    grid-area: project5-title;
}

/* -------- Responsive grid styling -------- */

@media screen and (min-width : 320px) and (max-width : 1000px) 
{
    /* header and footer */
    header
    {
        width: 100vw;
        height: 30vh;
    }

    #main-header
    {
        font-size: 25px;
    }

    /* re-style grid wrapper */
    #wrapper
    {
        grid-template-areas: "header"
                            "about"
                            "projects"
                            "footer";
        /* grid-template-rows: 10% 40% 40% 10%; */
        grid-template-columns: 1fr;
    }

    #project-previews
    {
        width: 100vw;
        height: 100vh;
        grid-template-areas: "projects-header"
                            "project1"
                            "project1-title"
                            "project2"
                            "project2-title"
                            "project3"
                            "project3-title"
                            "project4"
                            "project4-title"
                            "project5"
                            "project5-title"
                            "project6"
                            "project6-title";
        grid-template-rows: 10% 20% auto;
        grid-template-columns: 1fr;
    }

    .project-preview
    {
        justify-self: center;
        align-content: center;
        height: 100%;
        max-width: 100%;
    }
    
}

@media screen and (min-width : 320px) and (max-width : 375px) 
{
    header h1
    {
        font-size: 25px;
    }
}